<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Page</title>
    <!-- Include Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Custom CSS for styling -->
    <style>
      body {
        background-color: #ffffff;
      }
      .container {
        margin-top: 100px;
        text-align: center;
      }
      .btn-custom {
        margin: 10px;
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 5px;
      }
      .btn-scan {
        background-color: #007bff;
        color: #fff;
      }
      .btn-register {
        background-color: #28a745;
        color: #fff;
      }

      .cardItem {
        width: 250px;
        height: 100px;
        padding: 50;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 10px;
        border-color: #28a745;
        background-color: #007bff;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>ZUT - Student Tracking System</h1>
      <hr />
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4 class="text-secondary">Hi, <%= user.name %></h4>
        <a
          id="logout-link"
          style="
            text-decoration: none;
            color: #ff2a2a;
            padding: 10px;
            cursor: pointer;
          "
        >
          Log out
          <img
            width="20px"
            height="20px"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJmbCQXP1W3mbNjsjDfizbWuuoUUPgf8BGrg&usqp=CAU"
            alt="logout"
          />
        </a>
      </div>

      <hr />

      <div
        style="
          display: flex;
          justify-content: space-around;
          height: 100px;
          padding: 20px;
        "
      >
        <div
          class="cardItem"
          data-toggle="modal"
          data-target="#markAttendanceModal"
        >
          <img width="50px" src="./assets/icon-attendance.png" alt="" />
          <a
            style="
              text-decoration: none;
              color: #fff;
              font-weight: bold;
              margin-left: 10px;
            "
            >Mark Attendance</a
          >
        </div>

        <div
          class="cardItem"
          data-toggle="modal"
          data-target="#registerStudentModal"
        >
          <img width="50px" src="./assets/register-online-icon-11.jpg" alt="" />
          <a
            style="
              text-decoration: none;
              color: #fff;
              font-weight: bold;
              margin-left: 10px;
            "
            >Register Student</a
          >
        </div>

        <div
          class="cardItem"
          data-toggle="modal"
          data-target="#studentStatusModal"
        >
          <img width="50px" src="./assets/status.png" alt="" />
          <a
            style="
              text-decoration: none;
              color: #fff;
              font-weight: bold;
              margin-left: 10px;
            "
            >Student Status</a
          >
        </div>

        <div
          class="cardItem"
          data-toggle="modal"
          data-target="#studentRecordsModal"
        >
          <img width="50px" src="./assets/records.png" alt="" />
          <a
            style="
              text-decoration: none;
              color: #fff;
              font-weight: bold;
              margin-left: 10px;
            "
            >Student Records</a
          >
        </div>
      </div>
    </div>

    <!-- MODALS START HERE -->

    <!-- Mark Attendance Modal -->
    <div class="modal" id="markAttendanceModal">
      <div class="modal-dialog" style="max-width: 80%; max-height: 80%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mark Attendance</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div
            class="modal-body"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div
              id="attSave"
              style="
                display: none;
                flex-direction: column;
                width: 100%;
                height: 250px;
                justify-content: center;
                align-items: center;
              "
            >
              <div style="width: 50%">
                <h4 class="text-success">
                  Session saved, check Student Records
                </h4>
                <button
                  id="restartMarkingBtn"
                  type="submit"
                  class="btn btn-warning btn-lg"
                >
                  Restart Attendance
                </button>
              </div>
            </div>

            <div style="width: 40%; padding: 20px">
              <form id="markAttForm">
                <!-- Year of Study -->
                <div class="form-group">
                  <label for="yearOfStudy">Year of Study</label>
                  <select
                    class="form-control"
                    id="yearOfStudy"
                    name="yearOfStudy"
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

                <!-- Program of Study -->
                <div class="form-group">
                  <label for="programOfStudy">Program of Study</label>
                  <select
                    class="form-control"
                    id="programOfStudy"
                    name="programOfStudy"
                  >
                    <option value="BIT">BIT</option>
                    <option value="BSE">BSE</option>
                    <option value="BICT">BICT</option>
                    <option value="BBA">BBA</option>
                    <option value="BeEng">BeEng</option>
                    <option value="BSC">BSC</option>
                  </select>
                </div>

                <!-- COURSENAME OPTIONS DEPEND ON THE PROGRAM OF STUDY AND YEAR -->
                <div class="form-group">
                  <label for="timeAndDay">Course Name</label>
                  <input
                  id="course"
                  type="text"
                  name="course"
                  placeholder="Course Name"
                  class="form-control"
                  
                />
                </div>
                

                <!-- Time and Day -->
                <div class="form-group">
                  <label for="timeAndDay">Time and Day</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="timeAndDay"
                    name="timeAndDay"
                  />
                </div>


                <!-- Notes/Comments -->
                <div class="form-group">
                  <label for="notes">Notes/Comments</label>
                  <textarea
                    class="form-control"
                    id="notes"
                    name="notes"
                    rows="2"
                  ></textarea>
                </div>

                <input
                  id="userId"
                  type="text"
                  name="userId"
                  class="form-control"
                  hidden
                  value="<%=user._id%>"
                />

                <!-- Start Marking Button -->
                <button
                  id="startMarkingBtn"
                  type="submit"
                  class="btn btn-primary btn-lg"
                >
                  Start Marking
                </button>
              </form>

              <div
                id="sessionControls"
                style="
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  padding: 50px;
                  display: none;
                "
              >
                <button
                  id="stopMarkingBtn"
                  type="submit"
                  class="btn btn-danger btn-lg my-5"
                >
                  Stop Attendance
                </button>

                <button
                  id="saveMarkingBtn"
                  type="submit"
                  class="btn btn-success btn-lg my-5"
                >
                  Save Attendance
                </button>
              </div>
            </div>

            <div style="width: 60%">
              <div style="width: 100%; height: 100%">
                <div id="scanner" style="display: none">
                  <div style="width: 100%; height: 100%; position: relative">
                    <video
                      id="qr-video"
                      width="100%"
                      autoplay
                      style="position: relative; z-index: 1"
                    ></video>
                    <div
                      style="
                        position: absolute;
                        top: 10%;
                        left: 10%;
                        width: 80%;
                        height: 80%;
                        border: 2px solid white;
                        z-index: 2;
                      "
                    >
                      <small class="text-light">
                        Show your Student ID's QR Code
                      </small>
                    </div>
                  </div>

                  <div style="width: 100%; height: 100%">
                    <div id="qr-result" class="mt-3">
                      <h5 class="text-warning">scan results go here...</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Register Student Modal -->
    <div class="modal" id="registerStudentModal">
      <div class="modal-dialog" style="max-width: 80%; max-height: 80%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Register Student</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div
            class="modal-body"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div style="width: 40%; padding: 20px">
              <form id="registerAttForm">
                <div class="form-group">
                  <label for="studentID">Student ID</label>
                  <input
                    id="student-id"
                    type="text"
                    placeholder="2010118"
                    class="form-control"
                  />
                </div>

                <div class="form-group">
                  <label for="StudentFullnames">Full Names</label>
                  <input
                    type="text"
                    placeholder="Njato Kabalwe"
                    class="form-control"
                    id="StudentFullnames"
                  />
                </div>

                <!-- Year of Study -->
                <div class="form-group">
                  <label for="yearOfStudy">Year of Study</label>
                  <select
                    class="form-control"
                    id="yearOfStudy"
                    name="yearOfStudy"
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

                <!-- Program of Study -->
                <div class="form-group">
                  <label for="programOfStudy">Program of Study</label>
                  <select
                    class="form-control"
                    id="programOfStudy"
                    name="programOfStudy"
                  >
                    <option value="BIT">BIT</option>
                    <option value="BSE">BSE</option>
                    <option value="BICT">BICT</option>
                    <option value="BBA">BBA</option>
                    <option value="BeEng">BeEng</option>
                    <option value="BSC">BSC</option>
                  </select>
                </div>

                <!-- Start Marking Button -->
                <button
                  id="regBtn"
                  type="submit"
                  class="btn btn-primary btn-lg"
                >
                  Register Student
                </button>
              </form>
            </div>

            <div style="width: 60%">
              <div
                id="qrContainer"
                style="width: 100%; height: 100%; display: none"
              >
                <h4 class="text-success my-5">Student Registered!</h4>
                <div id="qr-code" class="my-5"></div>
                <a class="btn btn-secondary my-5" id="downQrBtn"
                  >Download QR Code</a
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Student Status Modal -->
    <div class="modal" id="studentStatusModal">
      <div class="modal-dialog" style="max-width: 80%; max-height: 80%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Student Status</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div
            class="modal-body"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div style="width: 40%; padding: 20px">
              <form id="statusForm">
                <div class="form-group">
                  <input
                    id="studentIdStatus"
                    name="studentIdStatus"
                    type="text"
                    placeholder="Student ID (2010118)"
                    class="form-control"
                  />
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                  "
                >
                  <button
                    id="checkStatusBtn"
                    type="submit"
                    class="btn btn-primary px-5"
                  >
                    check Status
                  </button>
                </div>
              </form>

              <script>
                let currentStudent = null;

                document
                  .getElementById("statusForm")
                  .addEventListener("submit", async (event) => {
                    event.preventDefault();
                    document.getElementById(
                      "loadingStatus"
                    ).innerHTML = `<h4 class="text-warning">fetching student status...</h4><img width="100%" height="100%" src="https://ligas.io/assets/images/loader2.gif" alt="">`;
                    document.getElementById("loadingStatus").style.visibility =
                      "visible";
                    document.getElementById("sendAlertBtn").className =
                      "btn btn-warning px-5";
                    document.getElementById("sendAlertBtn").innerText =
                      "Send Alert";
                    const sid =
                      document.getElementById("studentIdStatus").value;

                    try {
                      console.log("fetching Student Status: ", sid);

                      const response = await fetch(
                        "http://localhost:5000/check-status",
                        {
                          method: "POST",
                          headers: {
                            "Content-Type": "application/json",
                          },
                          body: JSON.stringify({ sid }),
                        }
                      );

                      if (response.ok) {
                        const data = await response.json();
                        console.log(data);
                        currentStudent = data;

                        document.getElementById("loadingStatus").innerHTML = ``;
                        document.getElementById(
                          "loadingStatus"
                        ).style.visibility = "hidden";
                        document.getElementById(
                          "studentStatus"
                        ).style.visibility = "visible";

                        // CLEAR STUFF
                        document.getElementById("status-student-id").innerHTML =
                          "";
                        document.getElementById("status-full-name").innerHTML =
                          "";
                        document.getElementById("status-pog").innerHTML = "";

                        document.getElementById("status-student-id").innerHTML =
                          data.sid;
                        document.getElementById("status-full-name").innerHTML =
                          data.fullname;
                        document.getElementById("status-pog").innerHTML =
                          data.programme_of_study;
                        randomizeProgressBars();
                      }
                    } catch (error) {
                      console.log("Something went wrong: ", error);
                      document.getElementById("checkStatusBtn").className =
                        "btn btn-danger px-5";
                    }
                  });

                const sendSMS = async () => {
                  document.getElementById("sendAlertBtn").className =
                    "btn btn-secondary px-5";
                  document.getElementById("sendAlertBtn").innerText =
                    "Loading!";

                  console.log("Sedning SMS ", currentStudent);

                  try {
                    const response = await fetch(
                      "http://localhost:5000/send-alert",
                      {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify(currentStudent),
                      }
                    );

                    if (response.ok) {
                      console.log("SMS Sent!", currentStudent);
                      document.getElementById("sendAlertBtn").className =
                        "btn btn-success px-5";
                      document.getElementById("sendAlertBtn").innerText =
                        "Alert Sent!";
                    }
                  } catch (err) {
                    console.log(err);
                    document.getElementById("sendAlertBtn").className =
                      "btn btn-danger px-5";
                    document.getElementById("sendAlertBtn").innerText =
                      "Alert NOT Sent!";
                  }
                };

                function randomizeProgressBars() {
                  // Get the progress bar elements
                  var tuitionProgress =
                    document.getElementById("tuitionProgress");
                  var lectureProgress =
                    document.getElementById("lectureProgress");

                  // Generate random values between 0 and 100
                  var randomTuitionValue = Math.floor(Math.random() * 101);
                  var randomLectureValue = Math.floor(Math.random() * 101);

                  // Update the progress bars with the random values
                  tuitionProgress.style.width = randomTuitionValue + "%";
                  tuitionProgress.textContent = randomTuitionValue + "%";

                  lectureProgress.style.width = randomLectureValue + "%";
                  lectureProgress.textContent = randomLectureValue + "%";
                }
              </script>
            </div>

            <div style="width: 60%">
              <div
                id="StatusContainer"
                style="
                  width: 100%;
                  height: 100%;
                  border: 1px solid rgb(216, 216, 216);
                "
              >
                <!-- <div class="initialStatus"></div> -->
                <div
                  id="loadingStatus"
                  style="visibility: hidden; width: 100%"
                ></div>
                <div
                  id="studentStatus"
                  style="visibility: hidden; width: 500px"
                >
                  <h4 class="text-success text-center my-3">Student Status</h4>
                  <hr />

                  <div class="px-5 py-2">
                    <p>
                      Student ID:<strong id="status-student-id"
                        >xxxxxxxxxxxxxxxxx</strong
                      >
                    </p>
                    <p>
                      Full Names:<strong id="status-full-name"
                        >xxxxxxxxxxxxxxxxx</strong
                      >
                    </p>
                    <p>
                      Programme of Study:<strong id="status-pog"
                        >xxxxxxxxxxxxxxxxx</strong
                      >
                    </p>

                    <!-- RANDOM  LEVELS -->
                    <strong>Tuition Fee Status:</strong>
                    <div class="progress">
                      <div
                        id="tuitionProgress"
                        class="progress-bar bg-success"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>

                    <strong>Lecture sessions Attended:</strong>
                    <div class="progress">
                      <div
                        id="lectureProgress"
                        class="progress-bar bg-info"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <hr />
                  <div
                    style="
                      width: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <button
                      class="btn btn-warning px-5"
                      id="sendAlertBtn"
                      onclick="sendSMS()"
                    >
                      Send Alert
                    </button>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Student Records Modal -->
    <div class="modal" id="studentRecordsModal">
      <div class="modal-dialog" style="max-width: 80%; max-height: 80%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Student Records</h5>
            <button
              class="btn btn-warning"
              style="align-self: center; margin: 0 auto; padding: 5px"
              onclick="fetchSessions()"
            >
              Refresh🐱‍🏍
            </button>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div
                style="
                
                flex-direction: row;
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;
                  margin: 0 10%;
                "
              >

                <div>
                  <button
                    class="btn btn-success btn-lg"
                    onclick="fetchSessions()"
                  >
                    Get Sessions 🚀
                  </button>
                </div>

                <div>
                  <img
                    width="250px"
                    height="250px"
                    src="https://img.freepik.com/free-vector/businessman-planning-events-deadlines-agenda_74855-6274.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698192000&semt=sph"
                    alt=""
                  />
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- MODALS END HERE -->

    <!-- Include Bootstrap and Popper.js (required for Bootstrap modals) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <!-- QR CODE MARK ATTENDANCE SCRIPTS START HERE -->
    <!-- Include QR Code Scanner Library -->
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script>
      const scanner = document.getElementById("scanner");

      const startMarkingBtn = document.getElementById("startMarkingBtn");

      const sessionControls = document.getElementById("sessionControls");
      const stopMarkingBtn = document.getElementById("stopMarkingBtn");
      const saveMarkingBtn = document.getElementById("saveMarkingBtn");
      const restartMarkingBtn = document.getElementById("restartMarkingBtn");
      const markAttForm = document.getElementById("markAttForm");
      const attSave = document.getElementById("attSave");

      stopMarkingBtn.addEventListener("click", function (e) {
        e.preventDefault();
        markAttForm.style.display = "block";
        scanner.style.display = "none";
        sessionControls.style.display = "none";
      });

      restartMarkingBtn.addEventListener("click", function (e) {
        e.preventDefault();
        markAttForm.style.display = "block";
        scanner.style.display = "none";
        sessionControls.style.display = "none";
        attSave.style.display = "none";
      });

      saveMarkingBtn.addEventListener("click", function (e) {
        e.preventDefault();
        markAttForm.style.display = "none";
        scanner.style.display = "none";
        sessionControls.style.display = "none";
        attSave.style.display = "block";
      });

      // Function to start QR code scanning
      function startQRScanner() {
        const video = document.getElementById("qr-video");
        const qrResult = document.getElementById("qr-result");

        const qrScanner = new Instascan.Scanner({ video: video });
        qrScanner.addListener("scan", function (content) {
          qrResult.innerHTML = `QR Code Content: ${content}`;
        });

        Instascan.Camera.getCameras().then(function (cameras) {
          if (cameras.length > 0) {
            qrScanner.start(cameras[0]);
          } else {
            alert("No cameras found on this device.");
          }
        });
      }

      // Start QR code scanning when the page loads
      window.onload = startQRScanner;

      // <!-- OPENING LECTURE SESSION START HERE -->

      document
        .getElementById("markAttForm")
        .addEventListener("submit", async (event) => {
          event.preventDefault();

          const form = event.target;

          // Extract form data
          const sessionData = {
            year_of_study: form.yearOfStudy.value,
            programme_of_study: form.programOfStudy.value,
            time_and_date: form.timeAndDay.value,
            notes_or_comments: form.notes.value,
            attendees: ["2010100", "2010118"],
            lecturer_id: form.userId.value,
          };

          console.log("saving lecture session (Client): ", sessionData);
          try {
            const response = await fetch("http://localhost:5000/add-session", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ session: sessionData }),
            });

            if (response.ok) {
              alert("Lecture session created successfully!");
              markAttForm.style.display = "none";
              scanner.style.display = "block";
              sessionControls.style.display = "block";
            } else {
              alert("Error creating lecture session.");
            }
          } catch (error) {
            console.error(error);
            alert("An error occurred while creating the lecture session.");
          }
        });

      // <!-- OPENING LECTURE SESSION END HERE -->
    </script>

    <!-- Include Instascan Library (QR Code Scanner) -->
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <!-- QR CODE MARK ATTENDANCE SCRIPTS END HERE -->

    <!-- QR CODE REGISTER STUDENT START HERE -->
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script>
      const registerAttForm = document.getElementById("registerAttForm");
      const regBtn = document.getElementById("regBtn");
      const qrContainer = document.getElementById("qrContainer");

      regBtn.addEventListener("click", function (e) {
        e.preventDefault();

        generateQRCode();
      });

      function generateQRCode() {
        var text = document.getElementById("student-id").value;
        var qrCodeContainer = document.getElementById("qr-code");
        qrCodeContainer.innerHTML = ""; // Clear previous QR codes

        if (text.trim() !== "") {
          var qrcode = new QRCode(qrCodeContainer, {
            text: text,
            width: 128,
            height: 128,
          });

          // Convert the QR code to a Data URL (base64-encoded image)
          var qrCodeDataUrl = qrCodeContainer.querySelector("img").src;
          var qrCodeImage = document
            .getElementById("qr-code")
            .querySelector("img");

          // Create a FormData object and append form fields and image
          const formData = new FormData();
          formData.append("studentId", text);
          formData.append(
            "fullNames",
            document.getElementById("StudentFullnames").value
          );
          formData.append(
            "yearOfStudy",
            document.getElementById("yearOfStudy").value
          );
          formData.append(
            "programOfStudy",
            document.getElementById("programOfStudy").value
          );
          formData.append(
            "course",
            document.getElementById("course").value
          );

          // Create a Blob from the Data URL
          fetch(qrCodeDataUrl)
            .then((response) => response.blob())
            .then((blob) => {
              formData.append("qrCode", blob, "qrcode.png");

              // Send a POST request to the "/register-student" endpoint with the FormData
              fetch("/register-student", {
                method: "POST",
                body: formData,
              })
                .then((response) => {
                  if (response.ok) {
                    // Request was successful
                    registerAttForm.style.display = "none";
                    qrContainer.style.display = "block";
                    downLoadQRCode(text, qrCodeImage);
                    console.log("Student registered successfully");

                    // You can redirect or perform other actions here
                  } else {
                    // Handle the error
                    console.error("Failed to register student");
                  }
                })
                .catch((error) => {
                  // Handle any network or other errors
                  console.error("Error:", error);
                });
            });
        } else {
          alert("Please enter text for the QR code.");
        }
      }

      var downloadLink = document.getElementById("downQrBtn");
      function downLoadQRCode(id, QRCodeElement) {
        // console.log('QR code : ', QRCodeElement);
        downloadLink.href = QRCodeElement.src;
        downloadLink.download = id + ".png"; // Specify the file name
      }

      downloadLink.addEventListener("click", () => {
        registerAttForm.style.display = "block";
        qrContainer.style.display = "none";
      });

      document
        .getElementById("generate-qr")
        .addEventListener("click", generateQRCode);
    </script>
    <!-- QR CODE REGISTER STUDENT START HERE -->

    <!-- FETCH SESSION START HERE.... -->

    <script>
      const fetchSessions = async () => {
        console.log(
          "fetching sessions: ",
          document.getElementById("userId").value
        );
        try {
          const response = await fetch("http://localhost:5000/fetch-session", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              lecturerId: document.getElementById("userId").value,
            }),
          });
          const data = await response.json();
          if (data) {
            console.log("sessions: ", data.sessions[0].programme_of_study);

            let sessionIterates = ``;
            const sessionArray = data.sessions;

            for (let i = 0; i < sessionArray.length; i++) {
              let attendeesData = ``;
              for (let j = 0; j < sessionArray[i].attendees.length; j++) {
                attendeesData =
                  attendeesData +
                  `
                  <tr>
                    <td>${sessionArray[i].attendees[j]}</td>
                  </tr>
                  `;
              }
              sessionIterates =
                sessionIterates +
                `
                <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse${i}"
                    aria-expanded="false"
                    aria-controls="flush-collapse${i}"
                  >
                  ${i + 1}. ${sessionArray[i].programme_of_study} | Year ${
                  sessionArray[i].year_of_study
                } | ${sessionArray[i].time_and_date}
                  </button>
                </h2>
                <div
                  id="flush-collapse${i}"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <div class="card">
                      <div class="card-header">Session Details</div>

                      <div class="card-body">
                        <div
                          style="
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            padding: 0 25px;
                          "
                        >
                          <div>
                            <h5 class="card-title">Year of Study</h5>
                            <p class="card-text" id="yearOfStudy"> Year: ${
                              sessionArray[i].year_of_study
                            }</p>
                          </div>

                          <div>
                            <h5 class="card-title">Programme of Study</h5>
                            <p class="card-text" id="programmeOfStudy">
                              ${sessionArray[i].programme_of_study}
                            </p>
                          </div>

                          <div>
                            <h5 class="card-title">Time and Date</h5>
                            <p class="card-text" id="timeAndDate">
                              ${sessionArray[i].time_and_date}
                            </p>
                          </div>

                          <div>
                            <h5 class="card-title">Lecturer ID</h5>
                            <p class="card-text" id="lecturerId">${
                              sessionArray[i].lecturer_id
                            }</p>
                          </div>
                        </div>

                        <div>
                          <h5 class="card-title my-5">Attendees</h5>
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Attendee</th>
                                </tr>
                              </thead>
                              <tbody>
                                ${attendeesData}
                              </tbody>
                            </table>
                          </div>
                          <div class="my-5">
                            <h5 class="card-title">Notes or Comments</h5>
                            <p class="card-text" id="notesOrComments">
                              ${sessionArray[i].notes_or_comments}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                `;
            }

            document.getElementById("accordionFlushExample").innerHTML =
              sessionIterates;
          } else {
            alert("Error fetching lecture session.");
          }
        } catch (error) {
          console.error(error);
          alert("An error occurred while fetching the lecture session.");
        }
      };
    </script>

    <!-- FETCH SESSION END HERE.... -->

    <script>
      document
        .getElementById("logout-link")
        .addEventListener("click", function () {
          window.location.href = "/"; // Replace '/login' with the actual URL of your login page.
        });
    </script>
  </body>
</html>
